@page "/dang-xuat"
@model LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click vào để <i class="text-danger">đăng xuất</i></button>
            </form>
        }
        else
        {
            <p>Bạn đã đăng xuất thành công.</p>
        }
    }
</header>